@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #171717;
  --border-color: #181818;
  --hover-color: #858585;
  --disabled-color: #c1c5dc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100dvh;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
